@charset "utf-8";
/* CSS Document */

/*#################################STICKY FOOTER STYLES#################################*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
}
a {
    text-decoration: none!important;
}
/*#################################HEADER####################################*/
.header {
    background-color: #434242;
}
.logo {
    width: 166px;
    height: 62px;
}
.navbar {
    background-color: #434242;
}
.navbar-toggler {
    background-color: #FFFFFF;
}
.nav-item a {
    color: #FFFFFF!important;
    opacity: 0.6;
}
.nav-item a:hover {
    opacity: 1;
}
.nav-link {
    color: #FFFFFF!important;
    opacity: 0.6;
}
/*#################################SECTION-CONTENT####################################*/
.section-content {
    padding-top: 100px;
    padding-bottom: 20px;
}
/*#################################FOOTER####################################*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #434242;
    height: 100px;
}
.footer-copy {
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
}
/*#################################Responsive################################*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}